### Question 1
Write a Python program to print the numbers from 1 to 10 using a for loop.

In [ ]:

for i in range(1, 11):
    print(i, end=' ')

### Question 2
Write a Python program to print the numbers from 20 to 1 using a while loop.

In [ ]:

num = 20
while num >= 1:
    print(num, end=' ')
    num -= 1

### Question 3
Write a program to print even numbers from 1 to 10.

In [ ]:

for i in range(1, 11):
    if i % 2 == 0:
        print(i, end=' ')

### Question 4
Prompt the user to enter a number n and print all numbers from 1 to n.

In [ ]:

n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i, end=' ')

### Question 5
Prompt the user to enter a number n, and then print all odd numbers between 1 and n.

In [ ]:

n = int(input("Enter a number: "))
for i in range(1, n + 1):
    if i % 2 != 0:
        print(i, end=' ')

### Question 6
Write a program that prints 'Happy Birthday!' five times.

In [ ]:

for i in range(5):
    print("Happy Birthday!")

### Question 7
Generate the first n terms of the series formed by squaring natural numbers.

In [ ]:

n = int(input("Enter a number: "))
print(f"The first {n} terms of the series are:")
for i in range(1, n + 1):
    print(i ** 2, end=' ')

### Question 8
Print the multiplication table of a given number.

In [ ]:

num = int(input("Enter a number: "))
print(f"\nMultiplication table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

### Question 9
Print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4.

In [ ]:

first_term = 3
common_difference = 4
terms = 8

for i in range(terms):
    term = first_term + (i * common_difference)
    print(term, end=' ')

### Question 10
Print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.

In [ ]:

first_term = 2
common_ratio = 3
terms = 6

for i in range(terms):
    term = first_term * (common_ratio ** i)
    print(term, end=' ')

### Question 11
Calculate the sum of all integers from 1 up to a user-entered positive integer.

In [ ]:

num = int(input("Enter a positive integer: "))
total = 0
for i in range(1, num + 1):
    total += i
print(f"The sum of all integers from 1 to {num} is: {total}")

### Question 12
Calculate the sum of reciprocals of numbers from 1 up to N.

In [ ]:

N = int(input("Enter a positive integer: "))
sum_reciprocals = 0

for i in range(1, N + 1):
    sum_reciprocals += 1 / i

print(f"The sum of reciprocals from 1 to {N} is: {sum_reciprocals:.2f}")

### Question 13
Prompt user 5 times to enter a number and display the running total.

In [ ]:

total = 0

for i in range(5):
    num = int(input("Enter a number: "))
    total += num

print(f"The final running total is: {total}")

### Question 14
Calculate factorial of a given number.

In [ ]:

num = int(input("Enter a number: "))

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is: {factorial}")

### Question 15
Calculate power of a number without using ** or math.pow().

In [ ]:

base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))

result = 1
abs_exponent = abs(exponent)

for i in range(abs_exponent):
    result *= base

if exponent < 0:
    result = 1 / result

print(f"{base} raised to the power {exponent} is: {result}")